body {
  font-size: 1.5rem;
  margin: 15rem;
}

main {
  line-height: 1.5;
  text-align: justify;
}

.toc > ul {
  list-style: none;
}

ul {
  list-style: "- ";
}

.blog-index-date-headers a {
  text-decoration: none;
  color: var(--text-color);
}
