body {
  font-size: 1.2rem;
  margin: 5% 15%;
}

@media (max-width: 480px) {
  body {
    margin: 5% 5%;
    font-size: 1rem;
  }
}

main {
  line-height: 1.5;
  text-align: justify;
}

.toc ul,
.blog-index-ul {
  list-style: disc;
}

ul {
  list-style: circle;
}

.blog-index-date-headers a {
  text-decoration: none;
  color: var(--text-color);
}

.tag {
  margin: auto 0.1rem;
}
