:root {
  --hyperlink-color: blue;
  --hyperlink-light: color-mix(in srgb, var(--hyperlink-color) 50%, white);
  --hyperlink-visited: color-mix(in srgb, var(--hyperlink-color) 60%, black);
  --text-color: black;
}

[data-theme="light"] {
  background-color: #e6e6e6;
  --text-color: black;
}

[data-theme="dark"] {
  background-color: #191919;
  --text-color: #d6d6d6;
  color: var(--text-color);
  --hyperlink-color: MediumOrchid;
  --hyperlink-light: Violet;
  --hyperlink-visited: MediumVioletRed;
}

a {
  color: var(--hyperlink-color);
}

a[href]:not(:where(
  /* exclude hash only links */
  [href^="#"],
  /* exclude relative but not double slash only links */
  [href^="/"]:not([href^="//"]),
)) {
  color: var(--hyperlink-visited);
}

a:hover {
  color: var(--hyperlink-light);
}

#theme-toggle {
  opacity: 0;
}

#theme-toggle:checked + label {
  border: solid 2px;
  border-color: white;
  border-radius: 20%;
  width: 30px;
  height: 30px;
  fill: yellow;
  content: url("./sun.svg");
}

#theme-toggle:not(:checked) + label {
  border: solid 2px;
  border-radius: 20%;
  width: 30px;
  height: 30px;
  fill: white;
  content: url("./moon.svg");
}
